@font-face {
    src: url(fonts/DMSerifDisplay-Regular.ttf);
    font-family: 'dm-400';
    font-weight: 400;
}

@font-face {
    src: url(fonts/Jost-Regular.ttf);
    font-family: 'jost-400';
    font-weight: 400;
}

@font-face {
    src: url(fonts/Jost-SemiBold.ttf);
    font-family: 'jost-600';
    font-weight: 600;
}

:root {
    --black: #292F36;
    --tan: #CDA274;
    --k: #f4f0ec;
    --grey: #4D5053;
    --background: #f5e4d5;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    /* background: none; */
    font-size: 18px;
    font-family: 'jost-600', sans-serif;
    font-weight: 600;
}

i {
    color: var(--tan);
}

body {
    font-family: 'dm-400';
    background-color: var(--white);
}

/* General */
.container {
    width: 1050px;
    margin: 0 auto;
}

.site-title {
    font-size: 50px;
    font-family: 'dm-400', sans-serif;
    font-weight: 400;
}

.subtitle {
    font-size: 22px;
    font-family: 'jost-400', sans-serif;
    font-weight: 400;
}

.btn {
    font-size: 18px;
    font-family: 'jost-600';
    font-weight: 600;
    cursor: pointer;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0 57px;
}

.header .container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.header .container .menu .link {
    font-size: 20px;
    font-family: 'jost-400', sans-serif;
    font-weight: 400;
    color: var(--black);
}

/* Main */

.main .container {
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 100px 0 100px 50px;
}

.main .container .site-title {
    width: 434px;
    height: 162px;
    font-size: 65px;
    font-family: 'dm-400', sans-serif;
    /* line-height: 125%; */
}

.main .container .subtitle {
    width: 433px;
    height: 66px;
    font-size: 22px;
    line-height: 33px;
    font-family: 'jost-400', sans-serif;
    margin: 18px 0;
}

.main .container .btn {
    color: var(--white);
    background-color: var(--black);
    border-radius: 18px;
    padding: 25px 50px;
    margin-top: 22px;
}

/* info */
.info .container {
    margin-top: 200px;
}

.info .container .wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 42px;
}

.info .container .wraper .card {
    width: 360px;
    height: 225px;
}

.info .container .site-title {
    font-size: 25px;
    font-weight: 400;
    font-family: 'dm-400', sans-serif;
    color: var(--black);
}

.info .container p {
    color: var(--grey);
    font-size: 22px;
    font-weight: 400;
    font-family: 'jost-400', sans-serif;
    line-height: 33px;
    padding: 20px 0 52px;
}

.info .btn {
    color: var(--grey);
}

.info .btn i {
    color: var(--tan);
}

/* About */
.about {
    padding: 200px;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}

.about .container .left .site-title {
    font-size: 50px;
    font-family: 'dm-400', sans-serif;
    line-height: 62px;
    width: 420px;
    height: 189px;
    color: var(--black);
}

.about .container .left .subtitle {
    font-size: 22px;
    font-family: 'jost-400';
    line-height: 33px;
    width: 472px;
    height: 132px;
    color: var(--grey);
    padding: 33px 0 45px;
}

.about .container .left .call {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 277px;
    height: 93px;
    margin: 45px 0;
}

.about .container .left .call a {
    font-size: 24px;
    font-weight: 700;
    font-family: 'jost-700', sans-serif;
    color: var(--black);
}

.about .container .left .call li {
    font-size: 22px;
    font-family: 'jost-400', sans-serif;
    color: var(--black);
}

.about .container .left .call .phone {
    width: 93px;
    height: 93px;
    background-color: #dbccbc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .container .left .call .phone i {
    font-size: 27px;
}

.about .container .left .btn {
    background: var(--black);
    padding: 26px 31px;
    border-radius: 18px;
    font-size: 18px;
    font-family: 'jost-600', sans-serif;
    font-weight: 600;
    color: var(--white);
}

.about .container .right img {
    border-top-right-radius: 60%;
    border-bottom-left-radius: 20%;
}

/* Reviews */
.reviews .container {
    background: #f5e4d5;
    border-radius: 20px;
    padding: 88px 24px;
}

.reviews .container .site-title {
    font-size: 50px;
    font-family: 'dm-400', sans-serif;
    width: 547px;
    text-align: center;
    margin: 0 auto;
}

.reviews .container .wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 38px;

}

.reviews .container .wraper .card {
    width: 320px;
    height: 339px;
    padding: 53px 37px;
    background: var(--white);
    border-radius: 20px;
}

.reviews .container .wraper .main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 32px;
}

/* Brand */
.brand .container {
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Our-projects */

.our-projects .container .up-title {
    text-align: center;
}

.our-projects .container .title .subtitle {
    width: 737px;
    margin: 0 auto;
    color: var(--grey);
}

.our-projects .container .wraper {
    padding-top: 93px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 200px;
}

.our-projects .container .wraper .card {
    width: 450px;
    gap: 24px;
}

.our-projects .container .wraper .card:nth-child(3) img {
    border-bottom-left-radius: 60px;
}

.our-projects .container .wraper .card img {
    width: 100%;
}

.our-projects .container .wraper .card .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-projects .container .wraper .card .arrow {
    width: 70px;
    height: 70px;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* Achievement */
.achievement {
    background: var(--background);
    padding: 151px 0;
}

.achievement .container {
    text-align: center;
}

.achievement .container .number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.achievement .container .number .text {
    text-align: center;
    border-right: 1px solid var(--tan);
    padding-right: 55px;
}

.achievement .container .number .text:last-child {
    border-right: 0;
}

.achievement .container .number .text h2 {
    color: var(--tan);
    padding-bottom: 16px;
    font-size: 85px;
    font-family: 'dm-400', sans-serif;
}

.achievement .container .number .text h3 {
    font-size: 22px;
    font-family: 'jost-400', sans-serif;
}

/* News */
.news .container .title {
    text-align: center;
    gap: 12px;
}

.news .container .title .site-title {
    font-size: 50px;
    font-family: 'dm-400', sans-serif;
    padding-top: 200px;
}

.news .container .title .subtitle {
    font-size: 22px;
    font-family: 'jost-400', sans-serif;
    width: 811px;
    margin: 0 auto;
    padding-bottom: 52px;
}

.news .container .wraper {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.news .container .wraper .card {
    width: 382px;
    border: 1px solid #e7e7e7;
    padding: 21px;
    border-radius: 62px;
}

.news .container .wraper .card:nth-child(2) {
    background: var(--background);
}

.news .container .wraper .card:nth-child(2) .bottom .arrow {
    background: var(--white);
}

.news .container .wraper .card .img-block {
    background: url(img/card.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 340px;
    height: 290px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 62px 62px 0 0;

}

.news .container .wraper .card .img-block p {
    background: var(--white);
    border-radius: 8px 8px 8px 0;
    padding: 11px;
}

.news .container .wraper .card .subtitle {
    padding: 21px 0 30px;
}


.news .container .wraper .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21px;
}

.news .container .wraper .card .bottom p {
    font-size: 16px;
    font-family: 'jost-400', sans-serif;

}

.news .container .wraper .card .bottom .arrow {
    width: 70px;
    height: 70px;
    background: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}